$fontFamily: 'Roboto', sans-serif;
$baseColor : #000; 
$baseColorHover : #000; 
$ctextColor : #242424; 
$titleSize : 1.2em;
$bodyBackground : #fff;
$bodyFontSize : 14px;
$container : 1123px;
$mbox : 980px;
$containerPadding: 10px;
$minContainer : 320px;

/*buttons*/
$buttonHeight: 45px;
$buttonColor : #094f8d;
$buttonColorHover : #0d1426;
$buttonText : #fff;

/*colors*/
$activeColor: #ee521a;