@charset "UTF-8";
/*buttons*/
/*colors*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
.icon, .button, .contacts-item p {
  display: inline-block;
  vertical-align: middle; }

.form-field:last-child {
  margin-bottom: 0; }

a {
  color: #000; }
  a:hover {
    color: #000;
    text-decoration: none; }


.container:after,
.tabs:after,
.button-group:after,
.header-menu:after,
.thumbnails .row:after,
.team-type:after,
.media:after {
  content: '';
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block; }

.icon, .button, .contacts-item p {
  display: inline-block;
  vertical-align: middle; }

.icon.icon-contacts:after, .icon.icon-socials:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

b {
  font-weight: bold; }

i {
  font-style: italic; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.main {
  position: relative;
  z-index: 1; }

.container {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  z-index: 1; }

.tabs .sidebar {
  float: left;
  width: 30.0089%;
  padding-right: 4.7195%; }
  @media (max-width: 767px) {
    .tabs .sidebar {
      width: 100%; } }

.tabs .content {
  float: left;
  width: 63.49065%; }
  @media (max-width: 767px) {
    .tabs .content {
      width: 100%; } }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .footer_placeholder {
    height: 0; }

figure {
  margin: 0; }

.slick-slide {
  outline: none; }

.mbox {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px; }

/* fonts */
@font-face {
  font-family: "UniSans";
  src: url("../fonts/unisansheavycaps.eot");
  src: local("O"), url("../fonts/unisansheavycaps.woff") format("woff"), url("../fonts/unisansheavycaps.ttf") format("truetype"), url("../fonts/unisansheavycaps.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "UniSans";
  src: url("../fonts/unisansthincaps.eot");
  src: local("O"), url("../fonts/unisansthincaps.woff") format("woff"), url("../fonts/unisansthincaps.ttf") format("truetype"), url("../fonts/unisansthincaps.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden; }

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden; }

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle; }

.hiddenBlock {
  position: absolute;
  left: -99999em;
  top: -99999em; }

.hidden {
  display: none; }

html {
  height: 100%; }

body {
  min-height: 100%;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #fff;
  color: #000;
  position: relative; }

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%; }

.icon.icon-contacts {
  background: #fff;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  position: relative; }
  .icon.icon-contacts:after {
    content: '';
    background: url(../img/icon-contacts.png); }
  .icon.icon-contacts.icon-mail:after {
    width: 16px;
    height: 12px;
    background-position: 0 0; }
  .icon.icon-contacts.icon-phone:after {
    width: 15px;
    height: 15px;
    background-position: 0 -12px; }
  .icon.icon-contacts.icon-map:after {
    width: 16px;
    height: 19px;
    background-position: 0 -27px; }

.icon.icon-socials {
  background-color: #ff6a2f;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: relative;
  transition: 250ms all ease; }
  .icon.icon-socials:hover {
    background-color: #fff; }
    .icon.icon-socials:hover:after {
      filter: brightness(1) invert(0); }
  .icon.icon-socials:after {
    content: '';
    background: url(../img/icon-socials.png);
    filter: brightness(0) invert(1);
    transition: 250ms all ease; }
  .icon.icon-socials.fb:after {
    width: 7px;
    height: 14px;
    background-position: 0 0; }
  .icon.icon-socials.tw:after {
    width: 13px;
    height: 12px;
    background-position: 0 -14px; }
  .icon.icon-socials.you:after {
    width: 14px;
    height: 10px;
    background-position: 0 -26px; }
  .icon.icon-socials.rss:after {
    width: 14px;
    height: 13px;
    background-position: 0 -37px; }

.picture {
  background-image: linear-gradient(90deg, #023a61 52%, #02426f 52%);
  width: 165px;
  height: 165px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 550ms all cubic-bezier(0.39, 0.58, 0.57, 1);
  margin: 10px; }
  .picture img {
    transition: 350ms all ease;
    border-radius: 50%; }
  .picture:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    margin: auto;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(52, 151, 219, 0.66);
    border-radius: 50%;
    transition: 350ms all ease; }

.button {
  min-width: 100px;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #094f8d;
  box-shadow: inset 0px 0px 0px 0px #0d1426;
  border: 0px solid #094f8d;
  border-radius: 0px;
  outline: none;
  z-index: 2;
  cursor: pointer;
  transition: 250ms all cubic-bezier(0.55, 0.06, 0.68, 0.19); }
  .button:hover {
    background: #0d1426;
    color: #fff; }
  .button.button-large {
    display: block;
    width: 100%;
    height: 70px;
    line-height: 68px;
    font-family: 'UniSans';
    font-size: 20px;
    color: #529cde;
    margin-bottom: 10px;
    padding-right: 45px;
    text-align: right;
    border-right: 6px solid #1463a9; }
    .button.button-large:last-child {
      margin-bottom: 0; }
    .button.button-large:before {
      content: '';
      position: absolute;
      right: -6px;
      height: 0;
      border-right: 6px solid transparent;
      transition: 450ms all ease; }
    .button.button-large:hover, .button.button-large.active {
      border-color: #0d1426;
      background: #0d1426;
      color: #fff; }
    .button.button-large.active:before {
      border-color: #ff6a2f;
      height: 100%; }
  .button-block {
    display: block;
    width: 100%; }
  .button input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    background: url("../images/spacer.gif");
    cursor: pointer; }

.button-group > .button {
  position: relative;
  float: left;
  width: 33.33%; }

.button-group > .button:not(:first-child):not(:last-child) {
  border-radius: 0; }

.button-group > .button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0; }

.button-group > .button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.mainheading, .ctext h1, h1, .subheading, .ctext h2, h2, .thirdheading, .ctext h3, h3, .fourheading, .ctext h4, h4, .fiveheading, .ctext h5, h5 {
  display: block;
  font-weight: normal;
  margin-bottom: 1em;
  color: #fff;
  text-align: center; }

a {
  border: 0; }
  a:hover {
    color: #000;
    text-decoration: none; }

.mainheading, .ctext h1, h1 {
  font-size: 5.14286em;
  margin-bottom: 25px;
  font-family: 'UniSans'; }

.subheading, .ctext h2, h2 {
  font-size: 25px; }

.thirdheading, .ctext h3, h3 {
  font-size: 2em; }

.fourheading, .ctext h4, h4 {
  font-size: 1.71429em;
  text-align: left; }

.fiveheading, .ctext h5, h5 {
  font-size: 1.42857em; }

.ctext p {
  color: #97bef3;
  line-height: 1.929;
  text-align: left;
  font-size: 14px;
  font-weight: 300; }
  .ctext p:last-child {
    margin-bottom: 0; }

.ctext ul {
  margin: 0em 0 1.8em 0px; }
  .ctext ul:last-child {
    margin-bottom: 0; }
  .ctext ul li {
    position: relative;
    line-height: 1.80em;
    font-size: 0.875em;
    letter-spacing: 0.0179em;
    margin: 0 0 1.8em 15px; }
    .ctext ul li:before {
      content: '—';
      position: absolute;
      left: -15px;
      top: 0;
      color: #242424; }

.ctext blockquote {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 1.5em 0;
  padding-left: 2.2em;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: 0.1111em; }
  .ctext blockquote:after {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    bottom: 9px;
    width: 4px;
    background-color: #edf2f5; }

.ctext table {
  border-collapse: collapse; }

.ctext table td {
  border: 1px solid; }

.ctext .button {
  margin-bottom: 5px; }

.form {
  position: relative; }
  .form legend {
    font-size: 3.42857em;
    font-family: "UniSans";
    font-weight: 300;
    color: #ff6a2f;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left; }
  .form-field {
    margin-bottom: 15px; }
    .form-field label {
      font-size: 14px;
      display: block;
      margin-bottom: 15px; }
  .form .zNice-tInput input {
    height: 43px;
    padding: 5px 15px; }
  .form .zNice-tArea textarea {
    padding: 15px; }
  .form .zNice-tArea textarea, .form .zNice-tInput input {
    font-size: 16px;
    font-family: "Roboto";
    color: #687078;
    background: transparent;
    border-width: 0; }
  .form .zNice-tInput .zNice-bg,
  .form .zNice-tArea .zNice-bg {
    border-radius: 3px;
    background-color: white;
    border-width: 0; }

.collapse {
  display: none; }

.navbar-collapse {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0); }

.navbar-toggle {
  backface-visibility: hidden;
  right: 15px;
  top: 6px;
  width: 26px;
  float: none;
  z-index: 2;
  position: absolute; }

.navbar-toggle .icon-container {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  backface-visibility: hidden; }

.navbar-toggle .line01 {
  top: 0;
  opacity: 1;
  transition-delay: 210ms; }

.navbar-toggle .line02 {
  top: 7px;
  transition-delay: 140ms; }

.navbar-toggle .line03 {
  top: 14px;
  transition-delay: 70ms; }

.navbar-toggle .line04 {
  top: 21px;
  opacity: 0;
  transition-delay: 0ms; }

.navbar-toggle .line {
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  right: 28px;
  height: 3px;
  background-color: #848484;
  transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 0, 0); }

.navbar-toggle:hover .line01 {
  opacity: 0;
  transition-delay: 0ms; }

.navbar-toggle:hover .line02 {
  transition-delay: 70ms; }

.navbar-toggle:hover .line03 {
  transition-delay: 140ms; }

.navbar-toggle:hover .line04 {
  opacity: 1;
  transition-delay: 210ms; }

.navbar-toggle:hover .line {
  transform: translate3d(0, -7px, 0); }

.navbar-toggle.active .line:nth-child(1) {
  transform: rotate(-45deg);
  top: 7px;
  opacity: 1; }

.navbar-toggle.active .line:nth-child(2) {
  background: none; }

.navbar-toggle.active .line:nth-child(4) {
  background: none; }

.navbar-toggle.active .line:nth-child(3) {
  transform: rotate(45deg);
  top: 7px;
  opacity: 1; }

.navbar-toggle.active .line {
  transition: all 0.3s; }

.navbar.topMenu {
  float: left; }

.header {
  background-color: rgba(0, 0, 0, 0.702);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 25px 0; }
  .header-logo {
    float: left;
    width: 33.21429em;
    position: relative;
    z-index: 2; }
  .header-menu {
    position: relative; }
    .header-menu ul {
      display: table;
      width: 100%; }
      .header-menu ul li {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 30px; }
        .header-menu ul li a {
          text-decoration: none;
          font-size: 1em;
          font-family: "UniSans";
          color: #7a7a7a;
          text-transform: uppercase;
          line-height: 1.2;
          padding: 18px 25px;
          display: block; }
        .header-menu ul li.active,
        .header-menu ul li a:hover {
          text-decoration: underline; }
        .header-menu ul li:first-child {
          text-align: left; }
        .header-menu ul li:last-child {
          text-align: right; }

.footer {
  background-color: rgba(109, 108, 108, 0.89);
  padding: 25px 0; }
  .footer-copyright {
    font-size: 12px;
    color: #fefeff;
    text-transform: uppercase;
    line-height: 45px;
    float: right; }
  .footer-socials {
    float: left; }

.about {
  background: #000312; }
  .about-inner {
    background-color: rgba(0, 93, 172, 0.729); }

.thumbnails {
  background-image: url(../img/pattern-0.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1.85714em 0 2.14286em; }
  .thumbnails .row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap; }
    .thumbnails .row .col {
      float: left;
      width: 33.33%;
      padding: 0 10px;
      display: flex; }
      @media (max-width: 767px) {
        .thumbnails .row .col {
          width: 100%; } }
  .thumbnails-item {
    padding: 20px 30px;
    min-height: 242px;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .thumbnails h2 {
    font-size: 2.71429em;
    font-family: 'UniSans';
    color: #fd5f00;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .thumbnails p {
    font-size: 1em;
    color: #747171; }

.wallet {
  background-image: url(../img/pattern-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 3.57143em 0 6.42857em; }
  .wallet-inner {
    background-color: rgba(255, 255, 255, 0.831); }
  .wallet .ctext p {
    font-size: 1.07143em;
    color: #343455;
    line-height: 1.733;
    text-align: center; }

.team {
  background-image: url(../img/pattern-3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1.85714em 0 0em; }
  .team-inner {
    background-color: rgba(0, 4, 24, 0.851);
    margin-top: 85px; }
  .team-type {
    position: relative;
    top: -85px; }
    .team-type figure {
      float: left;
      width: 33.33%;
      text-align: center;
      margin: 0; }
      @media (max-width: 767px) {
        .team-type figure {
          width: 100%; } }
      .team-type figure .picture {
        margin: 0 auto; }
      .team-type figure figcaption {
        font-family: 'UniSans';
        font-size: 1.78571em;
        color: #fff;
        text-transform: uppercase;
        line-height: 2.88; }
      .team-type figure.active .picture {
        background-image: linear-gradient(90deg, #ee521a 52%, #f05e1e 52%); }
        .team-type figure.active .picture:after {
          border-color: rgba(240, 94, 30, 0.66); }
        .team-type figure.active .picture img {
          filter: brightness(0) invert(1); }
      .team-type figure.active figcaption {
        color: #ee521a; }

.media .media-left {
  float: left; }
  .media .media-left .picture {
    margin-left: auto;
    margin-right: auto; }
  @media (max-width: 767px) {
    .media .media-left {
      float: none; } }

.media .media-body {
  margin-left: 39.63636%;
  padding-right: 40px; }
  @media (max-width: 767px) {
    .media .media-body {
      margin-left: 0;
      padding-right: 0; } }

.advantages {
  background-image: url(../img/pattern-4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1.85714em 0 0em; }
  .advantages-inner {
    background-color: rgba(255, 255, 255, 0.812); }
  .advantages .ctext p {
    color: #657fa1; }

.contacts {
  background-image: url(../img/pattern-5.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1.85714em 0 0em; }
  .contacts-inner {
    background-color: rgba(1, 3, 11, 0.76); }
  .contacts-item {
    margin-bottom: 20px; }
    .contacts-item p {
      padding-left: 37px;
      font-size: 1.254em;
      line-height: 1.2;
      font-weight: 300;
      color: #c4c7cf; }
  .contacts .row .col {
    float: left;
    width: 50%; }
    @media (max-width: 767px) {
      .contacts .row .col {
        width: 100%; } }
    .contacts .row .col:first-child {
      padding-right: 40px; }
      @media (max-width: 767px) {
        .contacts .row .col:first-child {
          padding-right: 0; } }

.preview {
  height: 500px; }
  .preview-media {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    z-index: -100; }
  .preview video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: url(../media/poster1.png) no-repeat;
    background-size: cover; }

@media (min-width: 1123px) {
  .container {
    width: 1123px; } }

@media (max-width: 980px) {
  .mbox {
    width: 100%; } }

@media (min-width: 768px) {
  .navbar-toggle {
    display: none; }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; } }

@media (max-width: 767px) {
  .header-menu ul {
    display: block; }
    .header-menu ul li {
      display: block; }
      .header-menu ul li:first-child, .header-menu ul li:last-child {
        text-align: center; } }
