<div class="about">
	<div class="about-inner">
		<div class="container">
			<div class="mainheading">H.E.A.T. FEAT</div>
			<div class="tabs">
				<div class="sidebar">
					<a href="#" class="button button-large" data-tabId="1">System overview</a>
					<a href="#" class="button button-large" data-tabId="2">Client software</a>
					<a href="#" class="button button-large" data-tabId="3">Whitepaper</a>
				</div>
				<div class="content">
					<div class="tabs-list">
						<div class="tabs-item ctext" data-tab="1"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p></div>
						<div class="tabs-item ctext" data-tab="2"><p>Tab 2 Lorem ipsum dolor sit.</p></div>
						<div class="tabs-item ctext" data-tab="3"><p>Tab 3 Lorem ipsum dolor sit.</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>