<div class="contacts">
	<div class="mainheading">Connect</div>
	<div class="contacts-inner">
		<div class="container">
			<div class="row mbox">
				<div class="col">
					<div class="contacts-item">
						<i class="icon icon-contacts icon-phone"></i>
						<p> 888-888-8888</p>
					</div>
					<div class="contacts-item">
						<i class="icon icon-contacts icon-mail"></i>
						<p> info@heatledger.com</p>
					</div>
					<div class="contacts-item">
						<i class="icon icon-contacts icon-map"></i>
						<p>HEAT Ledger <br>
						1140 South Coast Highway <br>
						Encinitas, CA 92024</p>
					</div>
				</div>
				<div class="col">
					<div class="form zNice">
						<form>
							<legend>Contact us</legend>
							<div class="form-field" name="name" />
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="form-field">
								<input type="email" name="mail" placeholder="Email" />
							</div>
							<div class="form-field">
								<textarea name="message" placeholder="Message"></textarea>
							</div>
							<button type="submit" class="button button-block">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_placeholder"></div>
    <footer class="footer">
        <div class="mbox">
            <div class="footer-socials">
                <a href="#"><i class="icon icon-socials fb"></i></a>
                <a href="#"><i class="icon icon-socials tw"></i></a>
                <a href="#"><i class="icon icon-socials you"></i></a>
                <a href="#"><i class="icon icon-socials rss"></i></a>
            </div>
            <div class="footer-copyright">© 2016 HEAT Ledger. All Rights Reserved.</div>
        </div>
    </footer>   
</div>