<div class="team">
	<div class="mainheading">Team</div>
	<div class="team-inner">
		<div class="container">
			<div class="team-type">
				<figure class="active">
			    	<div class="picture"><img src="img/thumb-1.png" alt="" /></div>
			   		<figcaption>Staff</figcaption>
			   </figure>
				<figure>
			    	<div class="picture"><img src="img/thumb-2.png" alt="" /></div>
			   		<figcaption>Local representation</figcaption>
			   </figure>		
				<figure>
			    	<div class="picture"><img src="img/thumb-1.png" alt="" /></div>
			   		<figcaption>Events</figcaption>
			   </figure>
			</div>
			<div class="team-list ctext slider">
				<div>
					<div class="media">
						<div class="media-left">
						    <div class="picture"><img src="http://placehold.it/165x165/d9d7d7/111628?text=1"></div>
						</div>
						<div class="media-body">
							<h4>Mark Anderson</h4>
							<p>Lorem ipsum dolor sit amet tetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
						</div>
					</div>
				</div>
				<div>
					<div class="media">
						<div class="media-left">
					    	<div class="picture"><img src="http://placehold.it/165x165/e1cec5/111628?text=2"></div>
						</div>
						<div class="media-body">
							<h4>Mark Anderson</h4>
							<p>Lorem ipsum dolor sit amet tetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
						</div>
					</div>
				</div>
				<div>
					<div class="media">
						<div class="media-left">
							<div class="picture"><img src="http://placehold.it/165x165/f7f7f7/111628?text=3"></div>
						</div>
						<div class="media-body">
							<h4>Mark Anderson</h4>
							<p>Lorem ipsum dolor sit amet tetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>