<div class="thumbnails">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="thumbnails-item">
					<div class="thumbnails-item-inner">
						<h2>Lorem ipsum</h2>
						<p> Amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="thumbnails-item">
					<div class="thumbnails-item-inner">
						<h2>Lorem ipsum</h2>
						<p> Amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="thumbnails-item">
					<div class="thumbnails-item-inner">
						<h2>Lorem ipsum</h2>
						<p> Amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 